/* Styles for meet */
.pHsCke {
	padding-left: 270px !important;
	box-sizing: border-box;
}

.snackbarOverride {
	margin-bottom: 96px !important;
}

div#edupal {
	position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10000000;
}

.MuiTypography-root {
	overflow-x: auto;
	overflow-wrap: break-word;
}